matplotlib
numpy
Pillow
torch
torchvision
tqdm
wandb
# TODO: once tests are complete remove these if not used
# for debian: sudo apt-get install libsuitesparse-dev
#             avoids errors when building wheels for scikitsparse (PEP 517)
scikit-sparse